<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Department Details</h1>
        <table border="2px">
            <thead>
                <tr>
                    <th>Deptno</th>
                    <th>Dname</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for do in department %}
                    <tr>
                        <td>{{do.deptno}}</td>
                        <td>{{do.dname}}</td>
                        <td>{{do.loc}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>